<!DOCTYPE html>
<html>

<head>
		<meta charset="UTF-8">
		<title>JEH Maker</title>

		<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

    <style>
    .verymini {
      width: 60px;
    }
		.verysmall {
			width: 80px;
		}
		.container {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.scrollable {
			overflow: scroll;
		}
    </style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous">
</head>

<body>
<div id="app">
  <div class="ui container">
		<h1 class="ui header">JEH Maker</h1>
		<p>Marge opérationnelle : {{ opMargin | euro}} ({{averageMarginJe}} %)</p>
		<div class="ui two column grid">
			<div class="two column row">
				<div class="ui column">
					<table class="ui celled collapsing table">
						<tr>
							<td>Frais</td>
							<td>
								<div class="ui verysmall input">
									<input type="text" v-model.number="fee"></input>
								</div>
							</td>
						</tr>
						<tr>
							<td>Total HT</td>
							<td>{{ totalPrice + fee | euro }}</td>
						</tr>
						<tr>
							<td>Total HT</td>
							<td>{{ (totalPrice + fee) * 1.2 | round | euro }}</td>
						</tr>
					</table>
				</div>
				<div class="ui column">
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>
		<button class="ui button" @click="newPhase">Nouvelle phase</button>
	</div>
	<div class="ui fluid container scrollable">
		<table class="ui small celled table">
		<!-- <table class="cell"> -->
      <thead>
				<tr>
					<th></th>
					<th></th>
          <th colspan="4" class="center aligned">Description des pahses</th>
					<th colspan="2" class="center aligned">JEH</th>
          <th colspan="2" class="center aligned">Part JE</th>
          <th colspan="4" class="center aligned">Part intervenant(s)</th> <!-- todo: s que si plusieurs intervenants -->
					<th></th>
				</tr>
        <tr>
					<th></th>
					<th></th>
          <th>Intitulé</th>
          <th>Prix</th>
          <th>Nb intervenant</th>
          <th>Marge</th>
					<th>Montant JEH</th>
          <th>Nombre JEH</th>
          <th>URSSAF</th>
          <th>marge</th>
					<th>Rémunération</th>
          <th>URSSAF</th>
          <th>Nette</th>
          <th>Nette / intervenant</th>
					<th></th>
        </tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th class="center aligned">{{ totalPrice | euro }}</th>
					<th class="center aligned">{{ totalConsultant }}</th>
					<th class="center aligned">{{ averageMargin | percentage }}</th>
					<th class="center aligned">{{ averageJeh | euro }}</th>
					<th class="center aligned">{{ totalNbJeh }}</th>
					<th class="center aligned">{{ totalUrssafJe | euro }}</th>
					<th class="center aligned">{{ averageMarginJe | percentage }}</th>
					<th class="center aligned">{{ totalPay | euro }}</th>
					<th class="center aligned">{{ totalUrssafConsultant | euro }}</th>
					<th class="center aligned">{{ totalNetConsultant | euro }}</th>
					<th class="center aligned">{{ totalNetByConsultant | euro }}</th>
					<th></th>
				</tr>
      </thead>
      <tbody>
        <tr is="phase-item" :phase="phase" v-for="phase in phases" :key="phase.id"
				:contributions="contributionRates" @delete="deleteEvent" @save="saveEvent"></tr>
      </tbody>
		</table>
	</div>
</div>
	<!-- Import Vue.js -->
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script type="text/x-template" id="phase-item">
			<tr>
				<td :class="[{warning: warningMessage}, {error: errorJeh}, {error: errorPrice}]">
					<a :title="errorPrice"><i v-if="errorPrice" class="exclamation triangle icon"></i></a>
					<a :title="errorJeh"><i v-if="errorJeh" class="exclamation triangle icon"></i></a>
					<a :title="warningMessage"><i v-if="warningMessage" class="info circle icon"></i></a>
				</td>
        <td>{{ phase.id }}</td>
        <td>
          <div class="ui input">
            <input type="text" v-model="phase.title"></input>
          </div>
        </td>
        <td>
          <div class="ui verysmall input" :class="{'error': errorPrice}">
            <input @change="calculate" type="text" v-model="price"></input>
          </div>
        </td>
        <td>
          <div class="ui verymini input" :class="{'error': errorJeh}">
            <input type="text" v-model="nbConsultant"></input>
          </div>
        </td>
        <td>
          <div class="ui verymini input">
            <input type="text" v-model="margin"></input>
          </div>
        </td>
				<td class="right aligned">{{ phase.jeh }}</td>
        <td class="right aligned" :class="{'error': errorJeh}">{{ phase.nbJeh }}</td>
        <td class="right aligned">{{ phase.urssafJE | euro }}</td>
        <td class="right aligned">{{ phase.marginJE | percentage }}</td>
				<td class="right aligned">{{ phase.pay | euro }}</td>
        <td class="right aligned">{{ phase.urssafConsultant | euro }}</td>
        <td class="right aligned">{{ phase.netConsultant | euro }}</td>
        <td class="right aligned">{{ phase.netByConsultant | euro }}</td>
				<td @click="deletePhaseEvent"><i class="icon close"></i></td>
			</tr>
	</script>

	<script>
		'use strict';

		let chartInfo = {
				type: 'doughnut',
				data: {
						labels: ['JE', 'URSSAF', 'Intervenants'],
						datasets: [{
								data: [55, 5, 45],
								backgroundColor: [
										'rgba(255, 99, 132, 0.2)',
										'rgba(54, 162, 235, 0.2)',
										'rgba(255, 206, 86, 0.2)',
								],
						}],
				},
				options: {
					cutoutPercentage: 35,
					legend: {
						display: false,
						// position: 'left',
						//   labels: {
						// 		fontSize: 25,
						//   }
					},
					tooltips: {
						bodyFontSize: 35,
					},
				},
		};

		Vue.filter('euro', (val) => {return val + ' €';});
		Vue.filter('euro', function(val) {
			let strVal = val.toString();
			let int, dec;
			if (strVal.includes('.')) {
				int = strVal.split('.')[0];
				dec = '.' + strVal.split('.')[1];
			}
			else {
				int = strVal;
				dec = '';
			}
			let n = int.length;
			if (n > 3) {
				int = int.slice(0, n-3) + ' ' + int.slice(n-3, n);
			}
			return int + dec + ' €';
		});
		Vue.filter('percentage', (val) => {return val + ' %';});
		Vue.filter('round', (val) => {return +(Math.round(val + "e+2")  + "e-2")});

		let phaseComponent = {
				template: '#phase-item',
        props: {
          phase: { // the phase linked to the array of phases of the parent by emitting signal and v-bind
            type: Object,
            required: true,
          },
          contributions: Object, // contribution rates
        },
        data() {
          return {
            errorJeh: '', // not enough JEH for every concultant
						errorPrice: '', // price under 80 €
            warningMessage: '', // some consultant will have less JEH than other
						price: 0, // variable (v-model)
						margin: 0, // variable (v-model)
						nbConsultant: 0, // variable (v-model)
						deleted: false, // true when the phase is deleting
          };
        },
				// watch on the 3 inputs
        watch: {
          price: function() {
            this.phase.price = this.toInt(this.price);
						this.price = this.phase.price
          },
          nbConsultant: function() {
            this.phase.nbConsultant = this.toInt(this.nbConsultant);
						this.nbConsultant = this.phase.nbConsultant;
          },
          margin: function() {
            this.phase.margin = this.toInt(this.margin);
						this.margin = this.phase.margin;
          },
        },
        methods: {
          calculate: function() {
						console.log(this.$parent);


						// optimize : maximize the jeh to 400 €
						if (this.phase.jeh < this.phase.price) {
							if (this.phase.price >= 400) {
								this.phase.jeh = 400;
							}
							else {
								this.phase.jeh = this.phase.price;
							}
						}

						// compute data
						this.phase.nbJeh = this.phase.price / this.phase.jeh;
            this.phase.pay = +(Math.round(this.phase.price - (this.phase.price * this.phase.margin / 100) + "e+2")  + "e-2");
            this.phase.urssafJE = +(Math.round(this.phase.nbJeh * this.contributions.urssafBase * this.contributions.jeContrib +
              this.phase.pay * this.contributions.jepay + "e+2")  + "e-2");
            this.phase.marginJE = +(Math.round((this.phase.price - this.phase.pay - this.phase.urssafJE) / this.phase.price * 100 + "e+2")  + "e-2");
            this.phase.urssafConsultant = +(Math.round(this.phase.nbJeh * this.contributions.urssafBase * this.contributions.ConsultantContrib +
              this.phase.pay * this.contributions.ConsultantPay + "e+2")  + "e-2");
            this.phase.netConsultant = +(Math.round(this.phase.pay - this.phase.urssafConsultant + "e+2")  + "e-2");
            this.phase.netByConsultant = +(Math.round(this.phase.netConsultant / this.phase.nbConsultant + "e+2")  + "e-2");
            this.phase.pcConsultant = +(Math.round(this.phase.netByConsultant / this.phase.price * 100 + "e+2")  + "e-2");

						// optimize : if the number of JEH is not integer,
						// then we need to increase the number of JEH and drecrease the amount of each JEH.
            if (!Number.isInteger(this.phase.nbJeh)) {
							this.phase.nbJeh = Math.floor(this.phase.nbJeh) + 1;
							this.phase.jeh = this.phase.price / this.phase.nbJeh;
            }

						// error handling
						if (this.phase.jeh < 80) {
							this.phase.jeh = 80;
						}
						if (this.phase.price < 80) {
							this.errorPrice = 'Prix inférieur à 80 €';
							this.errorJeh = '';
							this.warningMessage = '';
						}
						else {
							this.errorPrice = '';
							if (this.phase.nbConsultant > this.phase.nbJeh) {
								this.errorJeh = 'Pas assez de JEH pour les intervenants.';
							}
							else {
								this.errorJeh = '';
								if (!Number.isInteger(this.phase.nbJeh / this.phase.nbConsultant)) {
									this.warningMessage =  'Les JEH ne sont pas réparties équitablement entre les intervenants.';
								}
								else {
									this.warningMessage = '';
								}
							}
						}

						// save signal
						this.$emit('save', this.phase); // send the modified phase to the parent for totals and averages
          },
          reset: function() {  // called by toInt and calculate
            this.phase.nbJeh = '';
            this.phase.pay = '';
            this.phase.urssafJE = '';
            this.phase.marginJE = '';
            this.phase.urssafConsultant = '';
            this.phase.netConsultant = '';
            this.phase.netByConsultant = '';
            this.phase.pcConsultant = '';
          },
          toInt: function(strnb) { // convert to integer and if possible then call calculate, otherwise call reset
            let price = parseInt(strnb);
            if (!isNaN(price)) {
              this.calculate();
            }
            else {
              price = '';
              this.reset();
            }
            return price
					},
					deletePhaseEvent: function() {
						this.deleted = true;
						this.$emit('delete', this.phase.id);
					},
					updateProps: function() { // called bu created and updated
						this.price = this.phase.price;
						this.margin = this.phase.margin;
						this.nbConsultant = this.phase.nbConsultant;
					}
        },
				created: function () {
					this.updateProps();
					this.calculate();
				},
				updated: function () {
					this.updateProps();
					if (this.deleted) { // calculate only when the phase has been deleted, otherwise infinite loop on calculate
						this.calculate();
						this.deleted = false;
					}
				},
		};

		new Vue({
			el: '#app',
			components: {
					'phase-item': phaseComponent,
			},
			data: {
				phases: [],
        contributionRates: {
          urssafBase: 39.04, // Base URSSAF
          jeContrib: 0.30116, // Part JE : Total des taux des cotisations indexées sur l'assiette de cotisation
          jepay: 0.042, // Part JE : Total des taux des cotisations indexées sur la rémunération brute
          ConsultantContrib: 0.1605, // Part Etudiant : Total des taux des cotisations indexées sur l'assiette de cotisation
          ConsultantPay: 0 // Part Etudiant : Total des taux des cotisations indexées sur la rémunération brute
        },
				totalPrice: 0,
				averageJeh: 0,
				totalConsultant: 0,
				averageMargin: 0,
				averageMargin: 0,
				totalNbJeh: 0,
				totalPay: 0,
				totalUrssafJe: 0,
				averageMarginJe: 0,
				totalUrssafConsultant: 0,
				totalNetConsultant: 0,
				totalNetByConsultant: 0,
				averagePcConsultant: 0,
				fee: 100,
				opMargin: 0,
				chartInfo: chartInfo,
				chart: null,
				chartCreated: false,
			},
			watch: {
				fee: function () {
					this.updateChart();
				}
			},
			methods: {
        newPhase() {
					let newPhase = {
            id:this.phases.length+1,
						title: "",
						price: 800,
						jeh: 400,
						nbConsultant: 1,
						margin: 55,
						nbJeh: 0,
						pay: 0,
						urssafJE: 0,
						marginJE: 0,
						urssafConsultant: 0,
						netConsultant: 0,
						netByConsultant: 0,
						pcConsultant: 0,
          };
          this.phases.push(newPhase);
        },
				deleteEvent(idPhase) {
					let prefix = this.phases.slice(0, idPhase-1);
					let suffix = this.phases.slice(idPhase, this.phases.lenght);
					let i = 1;
					this.phases = prefix;
					this.phases.push(...suffix);
					this.phases.forEach(function (p) {
						p.id = i;
						i++;
					});
					if(!this.phases.length) { // auto add new phase when delete the last phase
						this.newPhase();
					}
				},
				saveEvent(phase) {
					this.phases[phase.id-1].title = phase.title;
					this.phases[phase.id-1].price = phase.price;
					this.phases[phase.id-1].jeh = phase.jeh;
					this.phases[phase.id-1].nbConsultant = phase.nbConsultant;
					this.phases[phase.id-1].margin = phase.margin;
					this.phases[phase.id-1].nbJeh = phase.nbJeh;
					this.phases[phase.id-1].pay = phase.pay;
					this.phases[phase.id-1].urssafJE = phase.urssafJE;
					this.phases[phase.id-1].marginJE = phase.marginJE;
					this.phases[phase.id-1].urssafConsultant = phase.urssafConsultant;
					this.phases[phase.id-1].netConsultant = phase.netConsultant;
					this.phases[phase.id-1].netByConsultant = phase.netByConsultant;
					this.phases[phase.id-1].pcConsultant = phase.pcConsultant;
					this.calculate();
				},
				calculate() {
					this.reset();
					let this_ = this;
					let averageJeh = 0;
					let averageMargin = 0;
					let averageMarginJe = 0;
					let averagePcConsultant = 0;
					this.phases.forEach(function (v) {
						this_.totalPrice += v.price;
						averageJeh += v.jeh;
						this_.totalConsultant += v.nbConsultant;
						averageMargin += v.margin;
						this_.totalNbJeh += v.nbJeh;
						this_.totalPay += v.pay;
						this_.totalUrssafJe += v.urssafJE;
						averageMarginJe += v.marginJE;
						this_.totalUrssafConsultant += v.urssafConsultant;
						this_.totalNetConsultant += v.netConsultant;
						this_.totalNetByConsultant += v.netByConsultant;
						averagePcConsultant += v.pcConsultant;
					});
					this.averageJeh = +(Math.round(averageJeh / this.phases.length + "e+2")  + "e-2");
					this.averageMargin = +(Math.round(averageMargin / this.phases.length + "e+2")  + "e-2");
					this.averageMarginJe = +(Math.round(averageMarginJe / this.phases.length + "e+2")  + "e-2");
					this.averagePcConsultant = +(Math.round(averagePcConsultant / this.phases.length + "e+2")  + "e-2");
					this.totalNetConsultant = +(Math.round(this.totalNetConsultant + "e+2")  + "e-2"); // round needed otherwise 24.0000000000001 sometimes
					this.totalNetByConsultant = +(Math.round(this.totalNetByConsultant + "e+2")  + "e-2");
					this.totalUrssafConsultant = +(Math.round(this.totalUrssafConsultant + "e+2")  + "e-2");
					this.totalUrssafJe = +(Math.round(this.totalUrssafJe + "e+2")  + "e-2");
					this.opMargin = +(Math.round(this.totalPrice - this.totalUrssafJe - this.totalPay + "e+2")  + "e-2");
					this.updateChart();
				},
				reset() {
					this.totalPrice = 0;
					this.averageJeh = 0;
					this.totalConsultant = 0;
					this.averageMargin = 0;
					this.totalNbJeh = 0;
					this.totalPay = 0;
					this.totalUrssafJe = 0;
					this.averageMarginJe = 0;
					this.totalUrssafConsultant = 0;
					this.totalNetConsultant = 0;
					this.totalNetByConsultant = 0;
					this.averagePcConsultant = 0;
				},
				createChart(chartInfo) {
					const ctx = document.getElementById('myChart');
					this.chart = new Chart(ctx, this.chartInfo);
					ctx.style.width = 'auto';
					ctx.style.height = '200px';
					this.chartCreated = true;
				},
				updateChart() {
					this.chartInfo.data.datasets[0].data[0] = this.opMargin + this.fee;
					this.chartInfo.data.datasets[0].data[1] = +(Math.round(this.totalUrssafJe + this.totalUrssafConsultant + "e+2")  + "e-2");
					this.chartInfo.data.datasets[0].data[2] = this.totalNetConsultant;
					if (this.chartCreated) {
						this.chart.update();
					}
				}
			},
			created: function () {
				this.newPhase();
			},
			mounted() {
			  this.createChart();
			}
		});

		/*
		TODO
		 - try with computed instead of watchers
		 - and define getters and setters
		 - use .filter instead of several slice to delete a phase
		 - variable (price, nbstudent and margin) : label, and became input on double click
		 - v-model="phases" is phase-item

		*/
	</script>
</body>

</html>